  <p>
	<ul>
	 {{#each opinions}}
		<li><b>Activity: {{name}} </b>
			<p>Date: {{formatDate date day="numeric" month="long" year="numeric"}} </p> <p> city {{city}} </p> </li>
	{{/each}}
	</ul>
  </p>

